[submodule "client-geteway"]
	path = client-geteway
	url = https://github.com/nest-microservice-gaby/gateWay-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservice-gaby/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-microservice-gaby/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nest-microservice-gaby/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nest-microservice-gaby/auth-ms.git
